.add-task-form {
	display: inline-block;
	margin: 15px;
	vertical-align: top;
}

.add-task-form input,
.add-task-form textarea {
	display: block;
	width: 300px;
	margin: 10px 0;
	border: none;
	border-radius: 2px;
	font-size: 1.125em;
}

.add-task-form input {
	height: 25px;
}

.add-task-form textarea {
	resize: none;
	height: 100px;
}

.add-task-form button {
	border: none;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
	float: right;
	font-weight: bold;
	cursor: pointer;
}

.add-task-form button:hover {
	transform: scale(1.05);
}

.cancel-button {
	background-color: #DB2929;
	margin-right: 5px;
}

.submit-button {
	background-color: #4CBB17;
}