*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html,
#root,
.App {
	height: 100%;
}

body {
	font-family: sans-serif;
	background: url('../img/office-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	color: #333;
	height: 100%;
	overflow-x: hidden;
}

ul {
	margin: 0;
}

.tasks-list-wrapper {
	padding: 0 50px;
}

.tasks-list {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 3px;
	vertical-align: top;
	margin: 0 10px;
}

.task-list .task:hover {
	transform: scale(1.025);
}

.task-list-complete .task {
	opacity: 0.5;
}

.task-list-complete .task:hover {
	opacity: 1;
	transform: scale(1.025);
}

button {
	cursor: pointer;
}

.tasks-list {
	min-width: 325px;
	margin-top: 20px;
	position: relative;
}

.tasks-list h2 {
	font-size: 1em;
	margin: 0;
	color: #fff;
	padding: 10px;
}

.add-task-icon {
	color: white;
	font-weight: 700;
	font-size: 1.2em;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.active {
	right: 0;
}