.settings-menu {
	background-color: #cfcfcf;
	width: 280px;
	padding: 10px;
	position: absolute;
	right: -300px;
	top: 60px;
	bottom: 0;
	transition: all 0.25s ease;
}

.settings-menu h3 {
	text-align: center;
	padding: 0 0 10px;
	margin: 0;
	border-bottom: 1px solid #333;
}

.settings-menu p {
	padding-left: 30px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.125s linear;
}

.settings-menu p:hover {
	color: #22a6d6;
}

.settings-menu p.danger-zone:hover {
	color: #d63d22;
}

.close-menu {
	position: absolute;
	right: 10px;
	width: 6%;
	cursor: pointer;
}