/***************base styles***************/
.task {
	background-color: #dfdfdf;
	width: 300px;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #000;
	margin: 15px;
	position: relative;
}

.task h3,
.task p {
	margin: 0;
	padding: 3px 0;
}

/***************Sections***************/
.task-header {
	border-bottom: 1px solid #333;
}

.delete-task {
	position: absolute;
	right: 5px;
	top: 5px;
	font-weight: 700;
	cursor: pointer;
	color: #DB2929;
}

/***************Toggle***************/
.task-toggle {
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
}

input[type="radio"] {
	display: none;
	vertical-align: middle;
}

input[type="radio"]:checked + .toggle-left {
	box-shadow: -100px 0px #333 inset;
	color: #f0f0f0;
}

input[type="radio"]:checked + .toggle-right {
	box-shadow: 100px 0px #333 inset;
	color: #f0f0f0;
}

.toggle {
	cursor: pointer;
	padding: 5px;
	border: 2px solid #333;
	border-radius: 3px;
	transition: all 0.25s linear;
	line-height: 3px;
	width: 80px;
	height: 15px;
	display: inline-block;
	text-align: center;
}

.toggle-right {
	margin-left: -5px;
}

.toggle-left {
	border-right: none;
}