/***************base styles***************/
.task {
	background-color: #dfdfdf;
	width: 300px;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #000;
	margin: 0 auto 15px;
	position: relative;
}

.task h3,
.task p {
	margin: 0;
	padding: 8px 0;
}

/***************Sections***************/
.task-header {
	border-bottom: 1px solid #333;
}

.delete-task {
	position: absolute;
	right: 3px;
	top: 3px;
	width: 20%;
	font-weight: 700;
	cursor: pointer;
}

.movement-arrows {
	position: relative;
	height: 25px;
}

.movement-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-width: 24px;
	cursor: pointer;
}

.movement-arrows .right-arrow {
	right: 5px;
}

.movement-arrows .left-arrow {
	left: 5px;
}